@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: url(public/assets/fonts/Barlow/Barlow-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(public/assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

/* body {
  font-family: 'Poppins';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow';
} */

.portfolio .portfolio-content:hover img 
{
  transform: none;
}

/*
--------------------------------------------
INICIO - CSS CONTAINER ATIVIDADES
---------------------------------------------
*/

.box-atividades 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services .section-title {
  color: var(--heading-color);
}

.box-atividades h2 
{
  
}

/*
--------------------------------------------
FIM - CSS CONTAINER ATIVIDADES
---------------------------------------------
*/

/*
--------------------------------------------
INICIO - CSS CONTAINER RANKING
---------------------------------------------
*/

.box-participant 
{
  transition: 0.5s;
  position: relative;
  height: 200px;
  background: repeating-conic-gradient(from var(--a), #3AAD6E 0%, 
  #3AAD6E 5%, transparent 5%, transparent 40%, #3AAD6E 50%);
  animation: animate 6s linear infinite;
  border-radius: 20px;
}

.box-participant.box-participant-0 
{
  background: repeating-conic-gradient(from var(--a), #FFD700 0%, 
  #FFD700 5%, transparent 5%, transparent 40%, #FFD700 50%);
  animation: animate 6s linear infinite;
}

.box-participant.box-participant-1
{
  background: repeating-conic-gradient(from var(--a), #C0C0C0 0%, 
  #C0C0C0 5%, transparent 5%, transparent 40%, #C0C0C0 50%);
  animation: animate 6s linear infinite;
}

.box-participant.box-participant-2
{
  background: repeating-conic-gradient(from var(--a), #b87333 0%, 
  #b87333 5%, transparent 5%, transparent 40%, #b87333 50%);
  animation: animate 6s linear infinite;
}

@property --a 
{
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate {
  0%
  {
    --a: 0deg;
  }
  100%
  {
    --a: 360deg;
  }
}

.box-participant::before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  animation: animate 6s linear infinite;
  animation-delay: -1s;
  border-radius: 20px;
}

.box-participant.box-participant-0::before 
{
  background: repeating-conic-gradient(from var(--a), #FFD700 0%, 
  #FFD700 5%, transparent 5%, transparent 40%, #FFD700 50%);
  animation: animate 6s linear infinite;
  animation-delay: -1s;
}

.box-participant.box-participant-1::before 
{
  background: repeating-conic-gradient(from var(--a), #C0C0C0 0%, 
  #C0C0C0 5%, transparent 5%, transparent 40%, #C0C0C0 50%);
  animation: animate 6s linear infinite;
  animation-delay: -1s;
}

.box-participant.box-participant-2::before 
{
  background: repeating-conic-gradient(from var(--a), #b87333 0%, 
  #b87333 5%, transparent 5%, transparent 40%, #b87333 50%);
  animation: animate 6s linear infinite;
  animation-delay: -1s;
}

.box-participant::after
{
  content: '';
  position: absolute;
  inset: 8px;
  background: #020703;
  border-radius: 10px;
  border: 8px solid #000;
}

.info-participant 
{
  position: absolute;
  z-index: 1;
  inset: 25px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  text-transform: uppercase;
}

.info-participant-thumb 
{
  width: 140px;
}

.info-participant-thumb img 
{
  height: 115px;
}

.info-participant-name 
{
  width: 250px;
  position: relative;
  text-align: center;
}

.info-participant-name h5 
{
  
}

.info-participant-name::before, .info-participant-score::before 
{
  content: "";
  position: absolute;
  left: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 80px;
  width: 1px;
  background: #FFF;
  opacity: 0.18;
  z-index: 1;
}

.info-participant-name span 
{
  color: var(--accent-color);
  font-size: 0.8rem;
}

.info-participant-score 
{
  width: 200px;
  position: relative;
  text-align: center;
}

.info-participant-score span 
{
  color: var(--accent-color);
}

.box-participant:hover::after 
{
  transition: 0.5s;
  border: 8px solid #fff;
  border-radius: 20px;
  inset: 0;
}

.box-participant:hover .info-participant-thumb img {
  height: 130px;
  margin-left: -10px;
  transition: 0.5s;
}

.box-participant:hover .info-participant-name
{
  transition: 0.5s;
}

.box-participant .info-participant-name h5 
{
  transition: 0.5s;
}

.box-participant:hover .info-participant-name h5 
{
  font-size: 1.4rem;
  transition: 0.5s;
  text-shadow: 
  0 0 15px rgba(255, 255, 255, 0.5), 
  0 0 25px rgba(255, 255, 255, 0.5), 
  0 0 35px rgba(56, 217, 89, 0.5), 
  0 0 45px rgba(56, 217, 89, 0.5), 
  0 0 55px rgba(56, 217, 89, 0.5), 
  0 0 65px rgba(56, 217, 89, 0.5), 
  0 0 75px rgba(56, 217, 89, 0.5);
}

.box-participant .info-participant-name span 
{
  transition: 0.5s;
}

.box-participant:hover .info-participant-name span 
{
  transition: 0.5s;
  text-shadow: 
  0 0 15px rgba(255, 255, 255, 0.5), 
  0 0 25px rgba(255, 255, 255, 0.5), 
  0 0 35px rgba(56, 217, 89, 0.5), 
  0 0 45px rgba(56, 217, 89, 0.5), 
  0 0 55px rgba(56, 217, 89, 0.5), 
  0 0 65px rgba(56, 217, 89, 0.5), 
  0 0 75px rgba(56, 217, 89, 0.5);
}

.box-participant:hover .info-participant-score 
{
  transition: 0.2s;
  text-align: center;
}

.box-participant .info-participant-score h5 
{
  transition: 0.5s;
}

.box-participant:hover .info-participant-score h5 
{
  font-size: 1.4rem;
  transition: 0.5s;
  text-shadow: 
  0 0 15px rgba(255, 255, 255, 0.5), 
  0 0 25px rgba(255, 255, 255, 0.5), 
  0 0 35px rgba(56, 217, 89, 0.5), 
  0 0 45px rgba(56, 217, 89, 0.5), 
  0 0 55px rgba(56, 217, 89, 0.5), 
  0 0 65px rgba(56, 217, 89, 0.5), 
  0 0 75px rgba(56, 217, 89, 0.5);
}

.box-participant .info-participant-score span 
{
  transition: 0.5s;
}

.box-participant:hover .info-participant-score span 
{
  transition: 0.5s;
  text-shadow: 
  0 0 15px rgba(255, 255, 255, 0.5), 
  0 0 25px rgba(255, 255, 255, 0.5), 
  0 0 35px rgba(56, 217, 89, 0.5), 
  0 0 45px rgba(56, 217, 89, 0.5), 
  0 0 55px rgba(56, 217, 89, 0.5), 
  0 0 65px rgba(56, 217, 89, 0.5), 
  0 0 75px rgba(56, 217, 89, 0.5);
}

.box-participant:hover .box-participant-shine 
{
  opacity: 1;
  top: -290%;
  left: -55%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
  z-index: 1;
}

.box-participant-shine 
{
  position: absolute;
  top: -500%;
  left: -210%;
  width: 200%;
  height: 1000%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
  transition: 0.5s all ease-in-out;
}

/*
--------------------------------------------
FIM - CSS CONTAINER RANKING
---------------------------------------------
*/

/*
--------------------------------------------
INICIO - CSS CONTAINER TIME TECH
---------------------------------------------
*/

.team {
  --background-color: rgba(var(--accent-color-rgb), 0.03);
}

.box-member 
{
  position: relative;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-conic-gradient(from 0deg, #3AAD6E 5%, #3AAD6E 20%, transparent 0%, transparent 55%);
  min-height: 306px;
  border-radius: 10px;
}

.box-member::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from 90deg, #3AAD6E 5%, #3AAD6E 20%, transparent 0%, transparent 55%);
  border-radius: 10px;
}

.box-member:hover,
.box-member:hover::before 
{
  animation-play-state: running;
}

.box-member::after 
{
  content: '';
  position: absolute;
  inset: 4px;
  border: 10px solid #000;
  background: #000;
  border-radius: 5px;
  transition: 0.8s;
}

.box-member .info-member 
{
  position: absolute;
  z-index: 1;
  inset: 10px;
  border-radius: 5px;
  transition: 0.8s;
}

.box-member .info-member .info-member-name 
{
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: 0.4s;
}

.box-member .info-member .info-member-name h5 
{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  transition: 0.5s;
}

.box-member .info-member:hover .info-member-name
{
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(56,217,89,0.6);
  -moz-box-shadow: 0px 0px 10px 5px rgba(56,217,89,0.6);
  box-shadow: 0px 0px 10px 5px rgba(56,217,89,0.6);
  border-radius: 10px;
  transition: 0.5s;
}

.box-member .info-member:hover .info-member-name h5 {
  bottom: 30px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 25px rgba(255, 255, 255, 0.5), 0 0 35px rgba(56, 217, 89, 0.5), 0 0 45px rgba(56, 217, 89, 0.5), 0 0 55px rgba(56, 217, 89, 0.5), 0 0 65px rgba(56, 217, 89, 0.5), 0 0 75px rgba(56, 217, 89, 0.5);
  transition: 0.5s;
}

.box-member:hover::after 
{
  
}

.box-member:hover .info-member 
{
  inset: 0;
  border-radius: 10px;
  transition: inset 0.6s;
}

/*
--------------------------------------------
FIM - CSS CONTAINER TIME TECH
---------------------------------------------
*/

@media only screen and (max-width : 991px) 
{
  .box-participant {
    height: 350px;
  }

  .info-participant
  {
    display: block;
    padding: 0;
  }

  .info-participant-name::before, .info-participant-score::before
  {
    display: none;
  }

  .info-participant-thumb
  {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }

  .info-participant-name
  {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 15px;
  }

  .info-participant-score
  {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .box-participant:hover .box-participant-shine
  {
    top: -40%;
    left: -40%;
  }

  .box-participant-shine
  {
    top: -100%;
    height: 200%;
  }
}