.portfolio .portfolio-content:hover img 
{
  transform: none;
}

/*
--------------------------------------------
INICIO - CSS CONTAINER ATIVIDADES
---------------------------------------------
*/

.box-atividades 
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.services .section-title {
  color: var(--heading-color);
}

.box-atividades h2 
{
    text-align: left;
    font-size: 4.3rem;
    text-transform: uppercase;
    padding-right: 20px;
}

.box-atividades h2::after {
  margin: 0;
}

.box-atividades p {
  text-align: left;
  margin-bottom: 20px;
  text-align: justify;
}

#atividades-section {
  background: url(../assets/img/_596sdf0cc5e-fa04-4821-bffghsd6d-91c3534264b0.png);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 150px 0;
}

#atividades-section::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
}

#atividades-section .container {
  position: relative;
  z-index: 1;
}

#atividades-section .atv-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

#atividades-section .atv-buttons::after {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  width: 99.99%;
  height: 10px;
  position: absolute;
  background: #3AAD6E;
}

#atividades-section .atv-buttons .atv-btn {
  margin: 0;
  position: relative;
  z-index: 1;
}

/*
--------------------------------------------
FIM - CSS CONTAINER ATIVIDADES
---------------------------------------------
*/

/*
--------------------------------------------
INICIO - CSS CONTAINER RANKING
---------------------------------------------
*/

.box-participant 
{
  transition: 0.5s;
  position: relative;
  height: 200px;
  background: repeating-conic-gradient(from var(--a), #3AAD6E 0%, 
  #3AAD6E 5%, transparent 5%, transparent 40%, #3AAD6E 50%);
  animation: animate 6s linear infinite;
  border-radius: 20px;
}

.box-participant.box-participant-0 
{
  background: repeating-conic-gradient(from var(--a), #FFD700 0%, 
  #FFD700 5%, transparent 5%, transparent 40%, #FFD700 50%);
  animation: animate 6s linear infinite;
}

.box-participant.box-participant-1
{
  background: repeating-conic-gradient(from var(--a), #C0C0C0 0%, 
  #C0C0C0 5%, transparent 5%, transparent 40%, #C0C0C0 50%);
  animation: animate 6s linear infinite;
}

.box-participant.box-participant-2
{
  background: repeating-conic-gradient(from var(--a), #b87333 0%, 
  #b87333 5%, transparent 5%, transparent 40%, #b87333 50%);
  animation: animate 6s linear infinite;
}

@property --a 
{
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate {
  0%
  {
    --a: 0deg;
  }
  100%
  {
    --a: 360deg;
  }
}

.box-participant::before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  animation: animate 6s linear infinite;
  animation-delay: -1s;
  border-radius: 20px;
}

.box-participant.box-participant-0::before 
{
  background: repeating-conic-gradient(from var(--a), #FFD700 0%, 
  #FFD700 5%, transparent 5%, transparent 40%, #FFD700 50%);
  animation: animate 6s linear infinite;
  animation-delay: -1s;
}

.box-participant.box-participant-1::before 
{
  background: repeating-conic-gradient(from var(--a), #C0C0C0 0%, 
  #C0C0C0 5%, transparent 5%, transparent 40%, #C0C0C0 50%);
  animation: animate 6s linear infinite;
  animation-delay: -1s;
}

.box-participant.box-participant-2::before 
{
  background: repeating-conic-gradient(from var(--a), #b87333 0%, 
  #b87333 5%, transparent 5%, transparent 40%, #b87333 50%);
  animation: animate 6s linear infinite;
  animation-delay: -1s;
}

.box-participant::after
{
  content: '';
  position: absolute;
  inset: 8px;
  background: #020703;
  border-radius: 10px;
  border: 8px solid #000;
}

.info-participant 
{
  position: absolute;
  z-index: 1;
  inset: 25px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  text-transform: uppercase;
}

.info-participant .info-participant-waiting 
{
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.info-participant-thumb 
{
  width: 140px;
}

.info-participant-thumb img 
{
  height: 115px;
}

.info-participant-name 
{
  width: 250px;
  position: relative;
  text-align: center;
}

.info-participant-name::before, .info-participant-score::before, .info-participant-achievements::before 
{
  content: "";
  position: absolute;
  left: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 80px;
  width: 1px;
  background: #FFF;
  opacity: 0.18;
  z-index: 1;
}

.info-participant-name span 
{
  color: var(--accent-color);
  font-size: 0.8rem;
}

.info-participant-score 
{
  width: 200px;
  position: relative;
  text-align: center;
}

.info-participant-score span 
{
  color: var(--accent-color);
}

.info-participant-achievements 
{
  position: relative;
  flex-grow: 2;
  text-align: center;
}

.info-participant-achievements .achievements 
{
  display: flex;
  justify-content: center;
}

.info-participant-achievements h5 {
  transition: 0.5s;
}

.info-participant-achievements .achievements .achievement 
{
  transition: 0.5s;
  display: block;
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.info-participant-achievements .achievements .achievement.achievement-1, 
.info-participant-achievements .achievements .achievement.achievement-2, 
.info-participant-achievements .achievements .achievement.achievement-3, 
.info-participant-achievements .achievements .achievement.achievement-4 
{
  transition: 0.5s;
  background-position: center;
  background-size: cover;
}

.info-participant-achievements .achievements .achievement.achievement-1 
{
  background-image: url('/assets/img/achievement-1.png');
}

.info-participant-achievements .achievements .achievement.achievement-2 
{
  background-image: url('/assets/img/achievement-2.png');
}

.info-participant-achievements .achievements .achievement.achievement-3 
{
  background-image: url('/assets/img/achievement-3.png');
}

.info-participant-achievements .achievements .achievement.achievement-4 
{
  background-image: url('/assets/img/achievement-4.png');
}

.info-participant-achievements .achievements .achievement.achievement-1.achievement-disabled, 
.info-participant-achievements .achievements .achievement.achievement-2.achievement-disabled, 
.info-participant-achievements .achievements .achievement.achievement-3.achievement-disabled, 
.info-participant-achievements .achievements .achievement.achievement-4.achievement-disabled 
{
  background: none;
}

.box-participant:hover::after 
{
  transition: 0.5s;
  border: 8px solid #fff;
  border-radius: 20px;
  inset: 0;
}

.box-participant:hover .info-participant-thumb img {
  height: 130px;
  margin-left: -10px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(56, 217, 89, 0.6);
    -moz-box-shadow: 0px 0px 10px 5px rgba(56, 217, 89, 0.6);
    box-shadow: 0px 0px 10px 5px rgba(56, 217, 89, 0.6);
    transition: 0.5s;
}

.box-participant:hover .info-participant-name
{
  transition: 0.5s;
}

.box-participant .info-participant-name h5 
{
  transition: 0.5s;
}

.box-participant:hover .info-participant-name h5 
{
  font-size: 1.4rem;
  transition: 0.5s;
  text-shadow: 
  0 0 15px rgba(255, 255, 255, 0.5), 
  0 0 25px rgba(255, 255, 255, 0.5), 
  0 0 35px rgba(56, 217, 89, 0.5), 
  0 0 45px rgba(56, 217, 89, 0.5), 
  0 0 55px rgba(56, 217, 89, 0.5), 
  0 0 65px rgba(56, 217, 89, 0.5), 
  0 0 75px rgba(56, 217, 89, 0.5);
}

.box-participant .info-participant-name span 
{
  transition: 0.5s;
}

.box-participant:hover .info-participant-name span 
{
  transition: 0.5s;
  text-shadow: 
  0 0 15px rgba(255, 255, 255, 0.5), 
  0 0 25px rgba(255, 255, 255, 0.5), 
  0 0 35px rgba(56, 217, 89, 0.5), 
  0 0 45px rgba(56, 217, 89, 0.5), 
  0 0 55px rgba(56, 217, 89, 0.5), 
  0 0 65px rgba(56, 217, 89, 0.5), 
  0 0 75px rgba(56, 217, 89, 0.5);
}

.box-participant:hover .info-participant-score 
{
  transition: 0.2s;
  text-align: center;
}

.box-participant .info-participant-score h5 
{
  transition: 0.5s;
}

.box-participant:hover .info-participant-score h5 
{
  font-size: 1.4rem;
  transition: 0.5s;
  text-shadow: 
  0 0 15px rgba(255, 255, 255, 0.5), 
  0 0 25px rgba(255, 255, 255, 0.5), 
  0 0 35px rgba(56, 217, 89, 0.5), 
  0 0 45px rgba(56, 217, 89, 0.5), 
  0 0 55px rgba(56, 217, 89, 0.5), 
  0 0 65px rgba(56, 217, 89, 0.5), 
  0 0 75px rgba(56, 217, 89, 0.5);
}

.box-participant .info-participant-score span 
{
  transition: 0.5s;
}

.box-participant:hover .info-participant-score span 
{
  transition: 0.5s;
  text-shadow: 
  0 0 15px rgba(255, 255, 255, 0.5), 
  0 0 25px rgba(255, 255, 255, 0.5), 
  0 0 35px rgba(56, 217, 89, 0.5), 
  0 0 45px rgba(56, 217, 89, 0.5), 
  0 0 55px rgba(56, 217, 89, 0.5), 
  0 0 65px rgba(56, 217, 89, 0.5), 
  0 0 75px rgba(56, 217, 89, 0.5);
}

.box-participant:hover .info-participant-achievements h5 {
  font-size: 1.4rem;
  text-shadow: 
  0 0 15px rgba(255, 255, 255, 0.5), 
  0 0 25px rgba(255, 255, 255, 0.5), 
  0 0 35px rgba(56, 217, 89, 0.5), 
  0 0 45px rgba(56, 217, 89, 0.5), 
  0 0 55px rgba(56, 217, 89, 0.5), 
  0 0 65px rgba(56, 217, 89, 0.5), 
  0 0 75px rgba(56, 217, 89, 0.5);
  transition: 0.5s;
}

.box-participant:hover .info-participant-achievements .achievement 
{
  width: 75px;
  height: 75px;
  transition: 0.5s;
}

.box-participant:hover .box-participant-shine 
{
  opacity: 1;
  top: -290%;
  left: -55%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
  z-index: 1;
}

.box-participant-shine 
{
  position: absolute;
  top: -500%;
  left: -210%;
  width: 200%;
  height: 1000%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
  transition: 0.5s all ease-in-out;
}

/*
--------------------------------------------
FIM - CSS CONTAINER RANKING
---------------------------------------------
*/

/*
--------------------------------------------
INICIO - CSS CONTAINER TIME TECH
---------------------------------------------
*/

.team {
  --background-color: rgba(var(--accent-color-rgb), 0.03);
}

.box-member 
{
  position: relative;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-conic-gradient(from 0deg, #3AAD6E 5%, #3AAD6E 20%, transparent 0%, transparent 55%);
  min-height: 306px;
  border-radius: 10px;
}

.box-member::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from 90deg, #3AAD6E 5%, #3AAD6E 20%, transparent 0%, transparent 55%);
  border-radius: 10px;
}

.box-member:hover,
.box-member:hover::before 
{
  animation-play-state: running;
}

.box-member::after 
{
  content: '';
  position: absolute;
  inset: 4px;
  border: 10px solid #000;
  background: #000;
  border-radius: 5px;
  transition: 0.8s;
}

.box-member .info-member 
{
  position: absolute;
  z-index: 1;
  inset: 10px;
  border-radius: 5px;
  transition: 0.8s;
}

.box-member .info-member .info-member-name 
{
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: 0.4s;
}

.box-member .info-member .info-member-name h5 
{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  transition: 0.5s;
}

.box-member .info-member:hover .info-member-name
{
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(56,217,89,0.6);
  -moz-box-shadow: 0px 0px 10px 5px rgba(56,217,89,0.6);
  box-shadow: 0px 0px 10px 5px rgba(56,217,89,0.6);
  border-radius: 10px;
  transition: 0.5s;
}

.box-member .info-member:hover .info-member-name h5 {
  bottom: 30px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 25px rgba(255, 255, 255, 0.5), 0 0 35px rgba(56, 217, 89, 0.5), 0 0 45px rgba(56, 217, 89, 0.5), 0 0 55px rgba(56, 217, 89, 0.5), 0 0 65px rgba(56, 217, 89, 0.5), 0 0 75px rgba(56, 217, 89, 0.5);
  transition: 0.5s;
}

.box-member:hover::after 
{
  
}

.box-member:hover .info-member 
{
  inset: 0;
  border-radius: 10px;
  transition: inset 0.6s;
}

/*
--------------------------------------------
FIM - CSS CONTAINER TIME TECH
---------------------------------------------
*/

@media only screen and (max-width : 991px) 
{
  #atividades-section 
  {
    padding: 30px 0;
  }

  #atividades-section .atv-buttons 
  {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #atividades-section .atv-buttons::after 
  {
    content: none;
  }

  #atividades-section .atv-buttons .atv-btn 
  {
    width: 300px;
    margin-bottom: 20px;
  }

  .box-participant {
    height: 450px;
  }

  .info-participant
  {
    display: block;
    padding: 0;
  }

  .info-participant-name::before, .info-participant-score::before, .info-participant-achievements::before 
  {
    display: none;
  }

  .info-participant-thumb
  {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }

  .info-participant-name
  {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 15px;
  }

  .info-participant-score
  {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .box-participant:hover .box-participant-shine
  {
    top: -40%;
    left: -40%;
  }

  .box-participant-shine
  {
    top: -100%;
    height: 200%;
  }

  .box-member {
    min-height: 336px;
  }
}

@media only screen and (max-width : 768px)
{
  .box-atividades 
  {
    flex-direction: column;
  }

  #equipe-tech > div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .box-member {
    width: 330px;
    height: 330px;
  }
}

@media only screen and (max-width : 576px)
{
  #atividades-section .atv-buttons .atv-btn 
  {
    width: 300px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width : 375px) {
  
}